<%= link_to new_post_path do%>
    <button>new post</button>
<%end%>
<% @posts.each do |post|%>
<ul>
    <%= link_to post_path(post.id) do%>
        <lh><%= post.title %></lh>
    <%end%>
</ul>
<% end %>